{% extends "common_pages/common_layout.html" %}

{% block headerStuff %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='css/code.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/artifact_common.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">


    {#    High priority css classes#}
    <style>
        .category-button{}

        .buttonWrapper{
            padding-bottom:7px;
            border-radius: 25px;
            padding-right: 5px;
            padding-left: 3px;
        }

        .animationLabel{
            animation:color-me-in 5s;
        }

       @keyframes color-me-in {
          /* You could think of as "step 1" */
          0% {
            background: red;
          }
          /* You could think of as "step 2" */
          100% {
            background: black;
          }
       }

        .force-select {
          -webkit-user-select: all;  /* Chrome 49+ */
          -moz-user-select: all;     /* Firefox 43+ */
          -ms-user-select: all;      /* No support yet */
          user-select: all;          /* Likely future */
        }


       .button-corner-down {
            position: fixed;
            bottom: 0.2%;
            left: 78%;
            width: 5%;
            text-align: center;
        }

        .button-corner-up {
            position: fixed;
            bottom: 4.5%;
            left: 78%;
            width: 5%;
            text-align: center;
        }

        .textarea {
            width:66.7%;
            overflow: hidden;
            overflow-y: scroll;
            bottom:0.1%;
            height:8.6%;
            position:fixed;
            margin-bottom: -2px;
        }

        .code{
            overflow-y: scroll;
        }

        .mitico{}


        @media screen and (max-height: 1250px) {
          .textarea{
            bottom:0.2%;
            height:8%;
          }

            .button-corner-down{
                bottom: 0;
            }

            .button-corner-up{
                bottom: 4%;
            }

            .code{
                margin-bottom: 20px;
            }
        }



        hr.rounded {
            border-top: 8px solid #bbb;
            border-radius: 5px;
            {#color: white;#}
        }

        hr.solid {
            border-top: 3px solid #bbb;
        }


    </style>

{% endblock %}

<!-- Bootstrap container -->
 <div class="container">

        {% block content %}

            <div class="row no-gutters" style="background-color: black; padding-top: 10px;">

                     <div class="mitico col-md-4">
                        <div class="text-left">
                            <button class="btn btn-outline-info"
                                    type="submit"
                                    id="interestingBtn"#}
                                    onclick="ToggleInterestingBtn({{ artifact_id }})"
                                    style="width: 100%;"> Interesting (?)
                            </button>
                        </div>

                     </div>

                <div class="mitico col-md-4">
                    <div style="text-align: center; font-size: medium; color: white;">
                        {{ overall_labeling_status['n_artifacts_labeled'] }}
                        out of
                        {{ overall_labeling_status['n_artifacts_to_be_labeled'] }} | <em>{{ overall_labeling_status['source_name'] }}</em>
                    </div>
                    <div class="justify-content-center" style="display: flex;">
                        <div class="progress" style="width:50%;">
                            <div id="top-progress-bar-status" class="progress-bar" role="progressbar" style="width: 0%; "
                                 aria-valuenow="0"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mitico col-md-4">
                    <div class="text-right">
                        <button class="btn btn-outline-success"
                                type="submit"
                                id="next-skip-btn"
                                onclick="skip_next_artifact()"
                                style="width: 100%;"> Skip
                        </button>
                    </div>

                </div>

            </div>

            <div class="row no-gutters" style="background-color: black; height: 15px;">

                <div class="mitico col-md-12">
                    <div class="" style="position: relative; padding-left: 20px;"></div>
                </div>

            </div>


            <div class="row no-gutters">

                  <div class="mitico col-md-2 vh-100" style="background-color: black;">

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="code-summary-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Code Summary
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="expand-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Expand
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="rationale-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Rationale
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="deprecation-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Deprecation
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="usage-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Usage
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="exception-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Exception
                          </button>
                      </div>

                       <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="todo-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > TO-DO
                          </button>
                      </div>

                       <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="comment-code-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Commented Code
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="incomplete-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Incomplete
                          </button>
                      </div>

                      <div class="buttonWrapper">
                          <button class="btn btn btn-dark category-button"
                            type="submit"
                            id="new-category-button"
                            onclick="addNewCommentToBeLinked(this);"
                            style="width: 100%" > Define new category
                          </button>
                      </div>



                  </div>

                <div class="mitico col-md-8 overflow-auto" id="codeColumn" style="height: 84.5vh;">

                    <div class="code">
                        {% highlight 'java', lineno='inline' %}
                            {{ artifact_class }}
                        {% endhighlight %}


                    </div>

                </div>



                <div class="mitico col-md-2 no-float overflow-auto" id="methodsLabel" style="background-color: black;">

                    <div id="upperSide" style="height: 50%;">
                        <!-- This Div is dyamically filled -->
                    </div>

                     <div id="lowerSide" style="height: 50%;">

                        <hr class="solid">
                         <div style="text-align: center; color: white;">
                             <h4>ASSOCIATIONS</h4>
                         </div>
                         <hr class="solid">
                    </div>


                </div>



            </div>

            <div class="row no-gutters">
                <div class="mitico col-md-2">

                    <h4  style='color:white; top:95%; position:fixed;  left:3%;'> #Associations:<span id="badgeCounter" class="badge badge-secondary position-fixed" style="top:95.2%; left:12%; font-size: 17px;">0</span></h4>


                </div>
                <div class="mitico col-md-8">
                    <textarea id="textAreaSelectedText" rows="4" cols="50" class="textarea"></textarea>
                    <button id="clearText" type="submit" class='btn btn-dark button-corner-down' onclick="reset()">Clear</button>
                    <button id="savingClassification" type="submit" class='btn btn-dark button-corner-up' onclick="saveCategorization()">Save</button>

                </div>
                <div class="mitico col-md-2">

                </div>
            </div>




        {% endblock %}




 </div>


{% block scriptsStuff %}

    <script>

        // -------------------------Start-------------------------


        // Dynamically adding button on the right panel
        const methodsList = JSON.parse('{{ artifact_methodsList | tojson }}');
        const methodsListNames =  JSON.parse('{{ artificat_methodsName | tojson }}');



        var labelCategories = ["new-category-button",
                                'expand-button',
                                'rationale-button',
                                'deprecation-button',
                                'usage-button',
                                'exception-button',
                                'todo-button',
                                'code-summary-button',
                                'comment-code-button',
                                'incomplete-button',
        ]

        var selectedLines = [];

        var selectedCateory = "";
        var selectedCodeText = "";
        var selectedCommentText = "";
        var elementsToHighlight = [];
        var jsonToSave = {};
        var counterAssociations = 0;
        var dictHighlightedElements = {};

        let defaultColorHighlight='red';

        for(var j=0; j<5000; j++){
            dictHighlightedElements[j]=[];
        }


        var selectableSpanElements = document.getElementsByTagName("span");
        for (var i=8; i<selectableSpanElements.length; i++){
            if (!selectableSpanElements[i].classList.contains("linenos")){
                $(selectableSpanElements[i]).addClass('.force-select');
                //$(selectableSpanElements[i]).css('line-height','0');
            }
        }

        function reset(save=false){

            $("#textAreaSelectedText").text("");
            $('.category-button').css("background-color",'');
            $("#new-category-button").text("Define New Category");


            selectedLines = []
            selectedCateory = "";
            selectedCodeText = "";
            selectedCommentText = "";

            if(!save) {
                resetHighlightedText(dictHighlightedElements[counterAssociations]);
            }

        }

        //Custon List can be elementsToHighlight
        function resetHighlightedText(customList){

            for (var i = 0; i < customList.length; i++) {
                if ( customList[i].classList.contains("c1") || customList[i].classList.contains("cm") ) {
                    $(customList[i]).css('background-color', defaultColorHighlight);
                }
                else{
                    //Piece of code
                    $(customList[i]).css('background-color', '');
                }

            }
        }

        function moveToSelectedMethod(startingLine) {
            var selector = 'span:contains(' + startingLine + ')';
            $(selector)[0].scrollIntoViewIfNeeded();

            $(selector).addClass('animationLabel').delay(1500).queue(function(){
                $(this).removeClass('animationLabel').dequeue();
            });


        }

        var mappingDict = {};
        var tags = document.getElementsByTagName("span");
        var key = -1;
        var flagChange = true;
        var elementsPerRow = [];
        //var finalLine = "";
        for (var i = 8; i < tags.length; i++) {

            if (tags[i].classList.contains("linenos")){

                key = tags[i].innerHTML;
                mappingDict[key] = "";
                flagChange = false;
                continue;
            }
            if (!flagChange){
                mappingDict[key] = mappingDict[key] + " " + tags[i].innerHTML;

            }

        }

        function checkForButtonValidity(){
            let textBoxVal = $("#textAreaSelectedText").val();
            if(textBoxVal==""|| (!textBoxVal.trim().startsWith("//") && !textBoxVal.trim().startsWith("/*") && !textBoxVal.trim().startsWith('/**')  )) {
                alert("Select a comment first!");
                return false;
            }
            return true;
        }

         function createNewCategory() {
            var newCategory = prompt("","Text");
            $("#new-category-button").text(newCategory);
        }

        function checkForChangedCategory(element){
            function arrayRemove(arr, value) {

                    return arr.filter(function(ele){
                        return ele != value;
                    });
                }
            var refinedCategories = arrayRemove(labelCategories, element.id.toString());

            for(var i=0;i<refinedCategories.length;i++){
                var selector="#"+refinedCategories[i];
                $(selector).css('background-color','');
            }

        }

        function addNewCommentToBeLinked(element){
            var retCode=checkForButtonValidity();
            if (!retCode) { return false;}
            checkForChangedCategory(element);
            if(element.id.toString()=="new-category-button"){
                createNewCategory();
            }
            $(element).css('background-color','green');
            selectedCateory = element.id.toString();
            selectedCommentText =  $("#textAreaSelectedText").val().toString(); //at this stage we must have only the code comment/s
            console.log(selectedCommentText);
        }

        function popUpLinkedCommentToSnippet(){
            alert("First link the given comment to the snippet!");
        }

        function isSelectedCategory(){
            if(selectedCateory==""){
                popUpLinkedCommentToSnippet()
                resetHighlightedText(dictHighlightedElements[counterAssociations]);
                return false;
            }else{
                console.log('--> ' + selectedCodeText);
                return true;
            }

        }


        function saveCategorization(){

            if (isSelectedCategory()){
                //save snippet
                var allSelection = $("#textAreaSelectedText").val().toString();
                selectedCodeText = allSelection.replace(selectedCommentText,'');
                console.log('Debug: ' + selectedCodeText + '--------- ' + selectedCommentText);
                if(selectedCodeText==""){
                    popUpLinkedCommentToSnippet();
                    resetHighlightedText(dictHighlightedElements[counterAssociations]);
                    $("#"+selectedCateory).css('background-color','');
                    return false;
                }

                //console.log(selectedCommentText);
                //console.log(selectedCodeText);
                //console.log(selectedLines);

                $("#textAreaSelectedText").text("");
                for(var i=0;i<labelCategories.length;i++){
                    var selector="#"+labelCategories[i];
                    $(selector).css('background-color','');
                }


                const target_method = getMethodNameFromLineNumber(selectedLines[0]);
                // save this classification into the database
                // format {"method1":[82,83,84], ........ }

                //Add new association button
                var divID = "div-association" + counterAssociations + "-" + target_method;
                var buttonID = "association" + counterAssociations + "-" + target_method;
                var buttonText = "#" + counterAssociations+ " -->" + target_method;
                var scorllCall = 'moveToSelectedMethod(' + selectedLines[0]+')';
                var newButton = '<div class="buttonWrapper" id="' + divID + '"> <button class="btn btn btn-dark" type="submit" id="' + buttonID + '" onclick="' + scorllCall + '" style="width: 100%; display: inline-flex; align-items: center;">' + buttonText + '<i class="far fa-trash-alt fa-2x" style="position:fixed; left:98%;" onclick="removeAssociation(\''+ divID +'\')"></i></button></div>';

                $( "#lowerSide" ).append( $(newButton) );


                jsonToSave[target_method]=selectedLines;
                counterAssociations  = counterAssociations + 1;
                $("#badgeCounter").text(counterAssociations);

                reset(save=true);

            }


        }

        function removeAssociation(divID){
            targetAssociation = divID.split('-')[1].match(/\d+/)[0];
            $('#'+divID).fadeOut(300, function(){ $(this).remove();});
            counterAssociations = counterAssociations -1;
            $("#badgeCounter").text(counterAssociations);
            resetHighlightedText(dictHighlightedElements[targetAssociation]);

        }


        function getFirstLineofSelection() {
            var node,selection;
            if (window.getSelection) {
              selection = getSelection();
              node = selection.anchorNode;
            }
            if (!node && document.selection) {
                selection = document.selection
                var range = selection.getRangeAt ? selection.getRangeAt(0) : selection.createRange();
                node = range.commonAncestorContainer ? range.commonAncestorContainer :
                       range.parentElement ? range.parentElement() : range.item(0);
            }

            return node.parentNode.previousSibling.previousSibling.textContent
        }

        function highlightSelection(lines,isReviewer=false,colorHighlighting="blue"){

            for(var i=0; i<lines.length;i++){

                var lineTarget = Number(lines[i]);
                var lineSelector = ".linenos:contains(" + (lineTarget) + ")";

                var siblings = $(lineSelector).nextAll();

                for(var j=0;j<siblings.length;j++){
                    if (siblings[j].innerHTML==lineTarget+1){
                        break;
                    }
                    else{
                        $(siblings[j]).css('background-color',colorHighlighting);
                        if(!isReviewer){
                            dictHighlightedElements[counterAssociations].push(siblings[j]);
                            //elementsToHighlight.push(siblings[j]);
                        }
                    }
                }
            }
        }

        function inRange(x, min, max) {
                x=Number(x);
                min=Number(min);
                max=Number(max);
                return ((x-min)*(x-max) <= 0);
            }

        function getMethodNameFromLineNumber(lineNumber){

            for(var i=0;i<methodsList.length;i++){
                var lowerBound = methodsList[i].split('-')[0];
                var upperBound = methodsList[i].split('-')[1];
                if(inRange(lineNumber,lowerBound,upperBound)){
                    return methodsListNames[i];
                }
            }

            return -1;


        }

        function unselectAll(){

            if (document.selection && document.selection.empty)
            {
                document.selection.empty();
            }
            else if (window.getSelection)
            {
                var sel= window.getSelection();
                if(sel && sel.removeAllRanges)
                    sel.removeAllRanges();
            }
        }

        function highlightTargetComments(elements){
            for(var i=0;i<methodsList.length;i++){
                var lowerBound = methodsList[i].split('-')[0];
                var upperBound = methodsList[i].split('-')[1];
                for(var j = 0; j<elements.length; j++){
                    let line = elements[j].previousSibling.previousSibling.innerHTML;
                    if (inRange(line, lowerBound, upperBound)) {
                        console.log('Line: '+line);
                        $(elements[j]).css('background-color', 'red');
                    }
                }

            }
        }



        // -------------------------End-------------------------

        $(document).ready(function () {

            $(".linenos").on('mouseup', function (e) {
                e.preventDefault();
            });

            $("#textAreaSelectedText").keydown(function (e) {
                e.preventDefault();
                return false;
            });

            $('.highlight').on('mouseup', event => {

                /*if(selectedCommentText!='' && ( !selectedCommentText.startsWith("//") && !selectedCommentText.startsWith("/*") ) ){//&& selectedCateory=='' && selectedCodeText==''){
                    alert("Select first the target category for the highlighted comment!");
                    console.log(selectedCommentText);
                    unselectAll();
                    return false;
                }*/

                if (window.getSelection().toString().length) {
                    var selection = window.getSelection()
                    var firstLineOfSelection = getFirstLineofSelection();
                    var selectedText = selection.toString().replace(/^\s*\d+\s/gm, "");
                    var lines = selectedText.split('\n');

                    selectedLines.push(Number(firstLineOfSelection));

                    for (var i = 1; i < lines.length; i++) {
                        selectedLines.push(Number(firstLineOfSelection) + i);
                    }

                    highlightSelection(selectedLines);

                    let previousSelection = $("#textAreaSelectedText").val();
                    if (previousSelection == "") {
                        $("#textAreaSelectedText").text(previousSelection + selectedText);
                    } else {
                        $("#textAreaSelectedText").text(previousSelection + "\n" + selectedText);
                    }
                    document.getSelection().removeAllRanges();

                    //selectedCommentText = $("#textAreaSelectedText").val();
                }
            });

            var classification = JSON.parse('{{ artifact_classification|tojson }}');

            if (!jQuery.isEmptyObject(classification)) {
                jQuery.each(classification, function (i, val) {
                    const lines = val.toString().split(",");
                    highlightSelection(lines, isReviewer = true, colorHighlighting = 'red');
                });
            }



            for (let i = 0; i < methodsList.length; i++) {
              var buttonID = methodsListNames[i] + "-button";
              var startingLine = methodsList[i].split("-")[0];
              var endingLine = methodsList[i].split("-")[1];
              var buttonText = methodsListNames[i] + " " +startingLine + '---' + endingLine;
              var scorllCall = 'moveToSelectedMethod(' + startingLine+')';
              var newButton = '<div class="buttonWrapper"> <button class="btn btn btn-dark" type="submit" id="' + buttonID + '" onclick="' + scorllCall + '" style="width: 100%">' + buttonText + '</button> </div>';
              //console.log(newButton);
              $( "#upperSide" ).append( $(newButton) );


            }
            ////////////////////////////////////////////////////

            $("h1").css('color','white');

            $("h2").css('color','white');

            //Highlight target comments
            var inlineComments = document.getElementsByClassName('c1');
            var multiLineComments = document.getElementsByClassName('cm');
            highlightTargetComments(inlineComments);
            highlightTargetComments(multiLineComments);
            ///////////////////////////////////


            {#Change rows label color to white#}
            $(".linenos").css('color','white');


            $(document.body).on("change","#label_selector",function(){
                if(this.value == "")
                    $("#submit_btn").attr('disabled', "");
                else
                    $("#submit_btn").removeAttr('disabled');
            });

            $("#submit_btn").click(function () {
                let data_json = {     artifact_id: {{  artifact_id }},
                                                labeling_data: $('#label_selector').val(),
                                                duration: get_elapsed_seconds()};
                {#let data = JSON.stringify(data_json);#}
                $.post("/label", data_json, function (response, status) {
                    let response_json = $.parseJSON(response.toString())
                    ShowNotification(response_json['status'], "success");
                    ChangeSkipToNext();
                });
            });

        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-confirmation.min.js') }}"></script>
{% endblock %}
