{% extends "common_pages/common_layout.html" %}

{% block headerStuff %}
    <link href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/androidstudio.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='css/artifact_common.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/page_layout.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/github.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.lettering-0.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common-function.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rangy-1.3.0/rangy-core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rangy-1.3.0/rangy-serializer.js') }}"></script>

{% endblock %}

<!-- Bootstrap container -->
 <div class="container">

    {% block content %}

        <div class="row no-gutters" style="background-color: black; padding-top: 10px;">

                 <div class=" col-md-4">
                    <div class="text-left">
                        <button class="btn btn-outline-info"
                            type="submit"
                            id="next-skip-btn"
                            onclick="skip_next_artifact()"
                            style="width: 100%;"> Skip
                        </button>
                    </div>

                 </div>

            <div class=" col-md-4">
                <div id="progress-bar" style="text-align: center; font-size: medium; color: white;">
                    {{ overall_labeling_status['n_artifacts_labeled_and_reviewed'] }}
                    out of
                  {{ overall_labeling_status['n_total_artifacts'] }}
                </div>
                <div class="justify-content-center" style="display: flex;">
                    <div class="progress" style="width:50%;">
                        <div id="top-progress-bar-status" class="progress-bar" role="progressbar" style="width: 0%;"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                        <div id="alert"></div>
                    </div>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="text-right">
                    <button class="btn btn-outline-success"
                            type="submit"
                            id="next-skip-btn"
                            onclick="submitClassification();"
                            style="width: 100%;"> Submit Classification
                    </button>
                </div>

            </div>

        </div>

        <div id="placeholder" class="row no-gutters" style="background-color: black; height: 15px;">

            <div class=" col-md-12">
                <div class="" style="position: relative; padding-left: 20px;"></div>
            </div>

        </div>

{#        tag.setAttribute('onmouseenter','onMouseEnterEvent("' + buttonID + '","' + dictRes['description'] + '");');
{#        tag.setAttribute('onmouseleave','onMouseLeaveEvent("' + buttonID + '" );');#}
        <div class="row no-gutters">
{#            change button color for default cats#}
              <div class=" col-md-2 vh-100" style="background-color: black;">
                  <div id="categoriesColumn" style="overflow-y: scroll; height: 40vh;">

                       <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="new-category-button"
                                      onmouseenter='onMouseEnterEvent("new-category-button","If none of the previous categories match the new comment-to-code association");'
                                      onmouseleave='onMouseLeaveEvent("new-category-button");'
                                      style="width: 100%; text-align: left;">Define new category <span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+1</span>
                              </button>
                          </div>


                          <div class="buttonWrapper">

                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="code-summary-button"
                                      onmouseenter='onMouseEnterEvent("code-summary-button","The comment is a high-level summary for the code");'
                                      onmouseleave='onMouseLeaveEvent("code-summary-button");'
                                      style="width: 100%; text-align: left;"> <span style="font-size: 12px; margin-left: -5px;" class="badge bg-success float-right position-relative">ALT+2</span> Code Summary
                              </button>
                          </div>

                          <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="expand-button"
                                      onmouseenter='onMouseEnterEvent("expand-button","A verbose description of the implementation");'
                                      onmouseleave='onMouseLeaveEvent("expand-button");'
                                      style="width: 100%; text-align: left;"> <span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+3</span> Expand
                              </button>
                          </div>

                          <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      onmouseenter='onMouseEnterEvent("rationale-button","The comment answers the question (WHY?)");'
                                      onmouseleave='onMouseLeaveEvent("rationale-button");'
                                      id="rationale-button"
                                      style="width: 100%; text-align: left;"> <span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+4</span>Rationale
                              </button>
                          </div>

                          <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="deprecation-button"
                                      onmouseenter='onMouseEnterEvent("deprecation-button","The code is deprecated");'
                                      onmouseleave='onMouseLeaveEvent("deprecation-button");'
                                      style="width: 100%; text-align: left;" > <span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+5</span></span>Code Deprecation
                              </button>
                          </div>

                          <!--<div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                type="submit"
                                id="usage-button"
                                style="width: 100%" > Usage
                              </button>
                          </div>
                          We decided to discard this comment category since too fine-grained
                          -->

                          <!--
                          <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                type="submit"
                                id="exception-button"
                                style="width: 100%" > Exception
                              </button>
                          </div>
                          We decided to discard this comment category since too fine-grained
                          -->

                           <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="todo-button"
                                      onmouseenter='onMouseEnterEvent("todo-button","The comment is complete but the code is not fully developed");'
                                      onmouseleave='onMouseLeaveEvent("todo-button");'
                                      style="width: 100%; text-align: left;" > <span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+6</span>Work in Progress <!-- Previously: TO-DO -->
                              </button>
                          </div>

                           <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="comment-code-button"
                                      onmouseenter='onMouseEnterEvent("comment-code-button","The comment refers to a piece of code that is not used anymore");'
                                      onmouseleave='onMouseLeaveEvent("comment-code-button");'
                                      style="width: 100%; text-align: left;"> <span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+7</span>Commented Code
                              </button>
                          </div>

                          <div class="buttonWrapper">
                              <button class="btn btn btn-dark category-button"
                                      type="submit"
                                      id="incomplete-button"
                                      onmouseenter='onMouseEnterEvent("incomplete-button","The comment is not completed");'
                                      onmouseleave='onMouseLeaveEvent("incomplete-button");'
                                      style="width: 100%; text-align: left;"><span style="font-size: 12px; margin-left: -5px;" class="badge bg-success float-right position-relative">ALT+8</span>Incomplete Comment
                              </button>
                          </div>


                  </div>
                  <div>
                      <hr class="solid" style="position:relative; top:-10px;" id="topLevelLineSep">
                          <button class="btn btn btn-dark"
                                  type="submit"
                                  id="no-code-button"
                                  onmouseenter='onMouseEnterEvent("no-code-button","No available snippet to be linked");'
                                  onmouseleave='onMouseLeaveEvent("no-code-button");'
                                  style="width: 100%; margin-top:-35px; text-align: left;  background-color: #8267BE; font-weight: bold;" ><span style="font-size: 12px;" class="badge bg-success float-right position-relative">ALT+C</span>No Code
                          </button>
                      <hr class="solid" style="position:relative; top:-20px;" id="bottomLevelLineSep">
                  </div>
                  <hr class="solid" style="position:sticky; top:90.2%;">

                  <div>
                      <hr class="solid" style="position:relative; top:-50px;" id="topLevelLineSep">
                          <button class="btn btn btn-dark"
                                  type="submit"
                                  id="network-code-button"
                                  onmouseenter='onMouseEnterEvent("network-code-button","If the comment is useful for training the Comment-Generator-Network");'
                                  onmouseleave='onMouseLeaveEvent("network-code-button");'
                                  style="width: 100%; margin-top:-95px; text-align: left;  background-color: #8267BE; font-weight: bold;" ><span style="font-size: 12px; background-color: green;" class="badge bg-success float-right position-relative">ALT+N</span>Useful for training CG Network
                          </button>
                      <hr class="solid" style="position:relative; top:-40px;" id="bottomLevelLineSep">
                  </div>

                  <hr class="solid" style="position:sticky; top:90.2%;">

                  <div id='refreshButton' style="position:fixed; left:12.5%; top:92%;" onclick="refreshPage();">
                      <i class="fas fa-sync fa-3x" style="color:white;"></i>
                  </div>
                  <div id="removeFromDataset" style="position:fixed; left:7.2%; top:92%;" onclick="removeFromLabeling();">
                      <i class="far fa-trash-alt fa-3x" style="color:white;"></i>
                  </div>

                  <div id="toggleButton" style="position:fixed; left:1.5%; top:92%;">
                      <i id='toggleItem' class="fas fa-info-circle fa-3x" style="color:white;"></i>
                  </div>

              </div>


            <div class=" col-md-8 overflow-auto" id="codeColumn" style="height: 84.5vh;">

                <div class="row-column">

                    <pre id="rows-wrapper" class="rows">
                        <code id="rows" class="lang-java" style="display:inline; float:left; overflow: scroll;"></code>
                        <code id="code" class="lang-java">{{ artifact_class }}</code>
                    </pre>

                </div>

            </div>


            <div class=" col-md-2 no-float" id="methodsLabel" style="background-color: black;">

                <div id="upperSide" style="height: 40%;  position: absolute; width:100%; float:left; overflow-y: scroll;">
                    <!-- This Div is dyamically filled -->
                </div>

                <div id="divider" style="position: relative; top:38%; z-index:1000;">
                     <hr class="solid">
                         <div style="text-align: center; color: white;">
                             <h4 style="width:100%; position:relative;">ASSOCIATIONS</h4>
                             <span id="badgeCounter" class="badge badge-secondary" style="font-size:20px;">0</span>
                         </div>
                    <hr class="solid">
                </div>
                 <div id="lowerSide" style="height: 35vh;  overflow-y: scroll; position:sticky;  top:62%; width:100%; float: left;">

                </div>
            </div>

        </div>

        <div class="row no-gutters">
            <div class=" col-md-2"></div>
            <div class=" col-md-8">
                <div contenteditable="true" id="textAreaSelectedText" rows="4" cols="50" class="textarea"></div>
                <button id="clearText" style="color:white;" type="submit" class='btn btn-warning button-corner-down' onclick="reset(); resetClicked=true;">Clear</button>
                <button id="saveClassification" type="submit" class='btn btn-success button-corner-up' onclick="saveCategorization(); resetClicked=true;">Save</button>
            </div>
            <div class=" col-md-2"></div>
        </div>

    {% endblock %}



 </div>


{% block scriptsStuff %}

    <script>

        // -------------------------Start-------------------------

        // highlighting
        hljs.highlightAll();



        //updating progress bar
        var labelProgressPercentage = {{ overall_labeling_status['n_artifacts_labeled_and_reviewed'] }}*100 / {{ overall_labeling_status['n_total_artifacts'] }};
        labelProgressPercentage = Math.ceil(labelProgressPercentage);
        document.getElementById("top-progress-bar-status").style.width = labelProgressPercentage + '%';
        document.getElementById("top-progress-bar-status").innerHTML = labelProgressPercentage + '%';

        const methodsList = {{ artifact_methodsListLines | tojson }};
        const methodsListNames = {{ artifact_methodsName | safe }};
        const isFlagged = {{ isFlagged }};
        const numberOfCommentsPerMethod = {{ artifact_commentsPerMethod | safe  }};
        const userDefinedCategories = {{ artifact_UDC | tojson}};
        const linesList = {{ artifact_lines | tojson }};
        const isLabeled = {{ isLabeled }};
        const methodsRanges = {{ artifact_methodsRanges | safe }};
        const isReviewed = {{ isReviewed }};
        const workingMode = (isLabeled === 0 ? 0  : 1);


        var startTime = new Date().getTime();

        var labelCategories = ["new-category-button",
                                'expand-button',
                                'rationale-button',
                                'deprecation-button',
                                'usage-button',
                                'exception-button',
                                'todo-button',
                                'code-summary-button',
                                'comment-code-button',
                                'incomplete-button',
                                'no-code-button',
                                'network-code-button'
        ];



        var selectedCategory = "";
        var selectedCodeText = "";
        var selectedCommentText = "";
        var methodUnderClassification = "";
        var counterAssociations = 0;
        var numberOfCommentsPerClass = 0;
        var currentIndexComment = -1;
        var dictIndex = 0;
        var whereCommentBegin = -1;
        var whereCommentEnd = -1;
        var resetClicked=false;
        var clicked=false;
        var badgeCounterCategory = 1;
        var currentClassification=-1;
        var commentsForTheMethodUnderClassification = 0;
        var defaultColorHighlight='red';
        var flagSwitch=true;
        var noCode=false;
        var isForNN=0;
        var changingToClassificationOnGoing=false;

        var commentEleToHighlight = [];
        var highlightedCommentsInReviewing = [];

        // Creating dictionaries for the labeler
        var dictHighlightedCode = {};
        var dictHighlightedComments = {};
        var comment2Method = {};
        var dictHighlightedCommentsPosition = {};
        var dictHighlightedCommentsCharacterPosition = {};
        var dictHighlightedCodeCharacterPosition = {};
        var dictSelectedCategories = {};
        var mapAssociation2Comment = {}
        var dictSelectedCode = {};
        var dictSelectedComment = {};

        // Creating dictionaries for the reviewer
        var dictHighlightedCodeRev = {};
        var dictHighlightedCommentsRev = {};
        var comment2MethodRev = {};
        var dictHighlightedCommentsPositionRev = {};
        var dictHighlightedCommentsCharacterPositionRev = {};
        var dictHighlightedCodeCharacterPositionRev = {};
        var dictSelectedCategoriesRev = {};
        var mapAssociation2CommentRev = {}
        var dictSelectedCodeRev = {};
        var dictSelectedCommentRev = {};
        var conflicts = {};

        var comments = []; //In this list we store all the comments within a given class
        var selectedComments = [];
        var selectedCode = [];
        var listSelectedSpanCode = [];
        var userDefinedNewCategoryNames = [];
        var userDefinedNewCategoryDescriptions = [];
        var userDefinedCategoryShortcuts = [];
        var listSelectedSpanComment = [];
        var selectedCategories = [];
        var commentsToHighlight = [];
        var methodSelectionButton = [];
        var moveSelectionButtonList = [];
        var highlightedCodeDuringSelection = []
        var commentIndex = [];
        var beginningCommentCharacterPosition = -1
        var endCommentCharacterPosition = -1


        var entityMap = {
          '&': '&amp;',
          '<': '&lt;',
          '>': '&gt;',
          '"': '&quot;',
          "'": '&#39;',
          '/': '&#x2F;',
          '`': '&#x60;',
          '=': '&#x3D;'
        };

        for (let i = 0; i < numberOfCommentsPerMethod.length; i++) {
            numberOfCommentsPerClass = numberOfCommentsPerClass + numberOfCommentsPerMethod[i];
        }

        // -------------------------End-------------------------



        $(document).ready(function () {

            $("h1").css('color', 'white');
            $("h2").css('color', 'white');
            $('.hljs-comment').css('user-select', 'none');
            if(isFlagged) { $("#toggleItem").css('color','red'); }
            /* User defined Categories to be added */
             for(var i=0; i<userDefinedCategories['category_id'].length; i++) {

                var tag = document.createElement("div");
                tag.setAttribute('class', 'buttonWrapper');
                //console.log('onMouseEnterEvent(' + userDefinedCategories['category_button_name'][i] + ',' + userDefinedCategories['description'][i] + ');');
                tag.setAttribute('onmouseenter','onMouseEnterEvent("' + userDefinedCategories['category_button_name'][i] + '","' + userDefinedCategories['description'][i] + '");');
                tag.setAttribute('onmouseleave','onMouseLeaveEvent("' + userDefinedCategories['category_button_name'][i] + '" );');
                var newButton = document.createElement('button');
                newButton.setAttribute('class', 'btn btn btn-secondary category-button')
                newButton.setAttribute('type', 'submit');
                newButton.setAttribute('id', userDefinedCategories['category_button_name'][i] );
                newButton.setAttribute('style', 'width: 100%; text-align: left;');
                //newButton.innerHTML = '<span style="font-size: 13px;" class="badge bg-success float-left position-relative"><i class="fas fa-angle-double-up"></i><b>~</b>'+(i+parseInt(userDefinedCategories['shortcut']))+'</span>'+userDefinedCategories['category_name'][i];
                newButton.innerHTML = '<span style="font-size: 12px;" class="badge bg-success float-right position-relative">' + "ALT+CTRL+" +(i+parseInt(userDefinedCategories['shortcut'])) + '</span>' + userDefinedCategories['category_name'][i];
                tag.appendChild(newButton);
                $("#categoriesColumn").append(tag);

             }

            // Filling up lines column
            for (var i = 0; i < linesList.length; i++) {
                linesList[i] = linesList[i] + 1
                var newButton = '<div style="width:100%;" class="row-line">' + linesList[i] + '</div>';
                $("#rows").append($(newButton));
            }

            for (var i = 0; i < methodsList.length; i++) {
                var buttonID = "button-method-"+i;
                var startingLine = methodsList[i].split("-")[0];
                var buttonText = methodsListNames[i];

                var scrollCall = 'moveToSelectedMethodFromLine(' + startingLine + ',' + '\'' + buttonID + '\')';
                var newButton = '<div class="buttonWrapper style="display: flex; flex-direction:row;"> <button class="btn btn btn-dark" type="submit" id="' + buttonID + '" onclick="' + scrollCall + '" style="width: 100%;  text-align: left; white-space: normal; word-wrap: break-word;">' + buttonText + '</button> </div>';
                //console.log(newButton);
                $("#upperSide").append($(newButton));

                //initialize comment2Method
                comment2Method[i]=0;
            }

            comments = document.getElementsByClassName("hljs-comment");

            if (isLabeled == 0) {
                for(var i=0;i<150;i++) {
                    dictHighlightedCode[i] = [];
                    dictHighlightedCommentsPosition[i] = [];
                    dictHighlightedCommentsCharacterPosition[i] = [];
                    dictHighlightedCodeCharacterPosition[i] = [];
                    dictSelectedCategories[i] = [];
                    dictSelectedCode[i] = [];
                    dictSelectedComment[i] = [];
                }
            }else if (isLabeled == 1){
                for(var i=0;i<150;i++) {
                    dictHighlightedCodeRev[i] = [];
                    dictHighlightedCommentsPositionRev[i] = [];
                    dictHighlightedCommentsCharacterPositionRev[i] = [];
                    dictHighlightedCodeCharacterPositionRev[i] = [];
                    dictSelectedCategoriesRev[i] = [];
                    dictSelectedCodeRev[i] = [];
                    dictSelectedCommentRev[i] = [];
                    conflicts[i] = []
                }
            }

            /* --------------------------------------------------- */

            $("#refreshButton").mouseenter(function() {
                    var myDiv = document.createElement('div');
                    myDiv.setAttribute('class', 'popUp');
                    myDiv.setAttribute('id', 'popUpRefresh');
                    myDiv.innerHTML = 'Remove all classifications!';
                    document.body.appendChild(myDiv);
                }
            );

            $("#refreshButton").mouseleave(function() {
                    $("#popUpRefresh").remove();
                }
            );

            $("#toggleButton").mouseenter(function() {
                    var myDiv = document.createElement('div');
                    myDiv.setAttribute('class', 'popUp');
                    myDiv.setAttribute('id', 'popUpToggle');
                    myDiv.innerHTML = 'Flag this class for further inspections';
                    document.body.appendChild(myDiv);
                }
            );

            $("#toggleButton").mouseleave(function() {
                    $("#popUpToggle").remove();
                }
            );

            $("#removeFromDataset").mouseenter(function() {
                    var myDiv = document.createElement('div');
                    myDiv.setAttribute('class', 'popUp');
                    myDiv.setAttribute('id', 'popUpBadComment');
                    myDiv.innerHTML = 'Flag this instance if contains non-english comments or you think is broken';
                    document.body.appendChild(myDiv);
                }
            );

            $("#removeFromDataset").mouseleave(function() {
                    $("#popUpBadComment").remove();
                }
            );

            /* --------------------------------------------------- */

            $("#toggleButton").click(function () {
               saveFlaggedClass();
            });


            //This instance need to be reviewed, therefore we start preparing the needed lists and the layout
            if (isLabeled == 1) {

                ShowNotification('Reviewing mode!', 'warning');
                $('#code').css('user-select', 'none');

                //Disable Save and Reset button until the user click on the first association
                $("#saveClassification").attr('disabled','disabled');
                $("#clearText").attr('disabled','disabled');

                //Update the badgeCounter
                counterAssociations = Number({{ counterAssociations }});
                $("#badgeCounter").text(counterAssociations);

                // Loading the lists from labeler
                dictHighlightedCommentsPosition = {{ artifact_label_commentPositionList | tojson }}
                dictSelectedCode = {{ selectedCode | tojson }};
                dictSelectedComment = {{ selectedComments | tojson }};
                dictSelectedCategories = {{ artificat_label_categories |tojson }};
                dictHighlightedCodeCharacterPosition = {{ codeSpan | tojson }};
                dictHighlightedCommentsCharacterPosition = {{ commentSpan | tojson  }};
                moveSelectionButtonList = {{ artifact_moveSelectionButtonList  |tojson }};


                var idsButton = [];
                for (var i = 0; i < 150; i++) {
                    try {
                        var doc = new DOMParser().parseFromString(moveSelectionButtonList[i], "text/xml");
                        var idButton = doc.getElementsByClassName("buttonWrapper")[0].id;
                        idsButton.push(idButton);
                        $("#lowerSide").append($(moveSelectionButtonList[i]));
                    }catch(ex){continue};
                }

                for (var i = 1; i < idsButton.length; i++) {
                    $("#" + idsButton[i].replace('div-', '')).attr('disabled', 'disabled');
                }

                $("#saveClassification").text("Accept");
                $("#clearText").text("Change");

                $("#clearText").click(function () {
                   if(this.innerHTML.trim() === 'Change'){ this.innerHTML = 'Reset'; }
                });

            } else if (isLabeled == 0 && isReviewed == 0) {
                ShowNotification('Labeling mode!', 'warning');
            }



            //Highlighting target comments
            highlightTargetComments(comments, 'commentHighlighting');

            /*      If we find multi line comments written as single line
                    (E.G)
                    // read this item
                    // after send it
                    // to the server
             */

            $(".commentHighlighting").dblclick(function () {

                var prevElement = $(this).prev();
                var nextElement = $(this).next();

                var previousElements = [];
                var nextElements = [];

                var upperPartCommentSelection = '';
                var lowerPartCommentSelection = '';

                var currentElement = this;

                while (prevElement.hasClass('hljs-comment') && (currentElement.previousSibling.nodeType !== 3 || currentElement.previousSibling.textContent.trim() === '' && !commentWithin((currentElement.nextSibling.textContent.trim())))) {
                    if (!commentEleToHighlight.includes(prevElement)) {
                        previousElements.push(prevElement);
                    }
                    prevElement = $(prevElement).prev();
                    currentElement = currentElement.previousSibling;
                }

                //Adding current element selected by the user if it's not in the list already
                if (!commentEleToHighlight.includes($(this))) {
                    nextElements.push($(this));
                }

                currentElement = this;

                while (nextElement.hasClass("hljs-comment") && (currentElement.nextSibling.nodeType !== 3 || currentElement.nextSibling.textContent.trim() === '') && !commentWithin(currentElement.nextSibling.textContent.trim())) {

                    if (!commentEleToHighlight.includes(nextElement)) {
                        nextElements.push(nextElement);
                    }
                    nextElement = $(nextElement).next();
                    currentElement = currentElement.nextSibling;

                }

                for (var i = previousElements.length - 1; i >= 0; i--) {
                    upperPartCommentSelection = upperPartCommentSelection + previousElements[i][0].innerText + "\n";
                }

                for (var i = 0; i < nextElements.length; i++) {
                    lowerPartCommentSelection = lowerPartCommentSelection + nextElements[i][0].innerText + "\n";
                }

                //extending commentEleToHighlight
                var tmpArray = previousElements.reverse().concat(nextElements);
                for (var i = 0; i < tmpArray.length; i++) {
                    commentEleToHighlight.push(tmpArray[i]);
                }

                for (var i = 0; i < commentEleToHighlight.length; i++) {
                    if(isLabeled === 0 ) { $(commentEleToHighlight[i]).css('color', 'red').attr('id','comment-highlight-'+dictIndex); }
                    if(isLabeled === 1 ) { $(commentEleToHighlight[i]).css('color', 'red').attr('id','comment-highlight-'+currentClassification);}
                }

                var arr = Array.from(comments);

                for (var i = 0; i < commentEleToHighlight.length; i++) {
                    commentIndex.push(arr.indexOf(commentEleToHighlight[i][0]));
                }

                selectedCommentText = upperPartCommentSelection + lowerPartCommentSelection;
                var lines = selectedCommentText.split('\n');
                for (var k = 0; k < lines.length; k++) {
                    updateTextArea('<span class="selected-comment">' + escapeHtml(lines[k]) + '</span>');
                }

                selectedComments.push(selectedCommentText);
                beginningCommentCharacterPosition = fakeSelection4Comment(commentEleToHighlight[0][0]).start;
                endCommentCharacterPosition = fakeSelection4Comment(commentEleToHighlight[commentEleToHighlight.length - 1][0]).end;
                listSelectedSpanComment.push(beginningCommentCharacterPosition + '-' + endCommentCharacterPosition);

                unselectAll();

            });

            // Bind code are to "text select" events
            $('#code').bind('mouseup', function (event) {
                var code = document.getElementById("code");
                var sel = getSelectionCharOffsetsWithin(code);
                var start_point, stop_point, text_point, targetTag;

                if (sel.start === sel.end) {
                    start_point = 0;
                    stop_point = 0;
                    text_point = "";
                    targetTag = null;
                } else {
                    start_point = sel.start;
                    stop_point = sel.end;
                    text_point = sel.text;
                    targetTag = sel.targetTag;
                }
                if(!sel.text.trim().startsWith('//') && !sel.text.trim().startsWith('/*')) {
                    selectedCodeText = selectedCodeText + sel.text;
                }

                // If right side double selection is triggered
                try {
                    targetTag = targetTag.previousSibling;
                } catch (e) {
                }


                if (typeof (targetTag) != null && $(targetTag).hasClass('hljs-comment') && ( Math.abs(start_point-stop_point)<=3 )){

                    if (!commentEleToHighlight.includes($(targetTag))) {
                        commentEleToHighlight.push($(targetTag));
                    }
                    selectedCommentText = $(targetTag).text();
                    //$(targetTag).css('color', 'red').attr('id','comment-highlight-'+dictIndex);
                    if(isLabeled === 0 ) { $(targetTag).css('color', 'red').attr('id','comment-highlight-'+dictIndex); }
                    if(isLabeled === 1 ) { $(targetTag).css('color', 'red').attr('id','comment-highlight-'+currentClassification);}


                    updateTextArea('<span class="selected-comment">' + escapeHtml(selectedCommentText) + '</span>');
                    selectedComments.push(selectedCommentText);

                    beginningCommentCharacterPosition = fakeSelection4Comment(commentEleToHighlight[0][0]).start;
                    endCommentCharacterPosition = fakeSelection4Comment(commentEleToHighlight[commentEleToHighlight.length - 1][0]).end;

                    listSelectedSpanComment.push(beginningCommentCharacterPosition + '-' + endCommentCharacterPosition);

                    unselectAll();

                    var arr = Array.from(comments);
                    for (var i = 0; i < commentEleToHighlight.length; i++) {
                        commentIndex.push(arr.indexOf(commentEleToHighlight[i][0]));
                    }

                } else {
                    if (selectedCategory === '' && selectedCommentText === '' && text_point !== '' &&  !text_point.trim().startsWith('//') && !text_point.trim().startsWith('/*')) {
                        alert("Please select the comment first!");
                    } else {
                        if (selectedCommentText !== '' && selectedCategory === '' && text_point !== '') {
                            alert('Please select the comment category!');
                        } else {

                            if(!text_point.trim().startsWith('//') && !text_point.startsWith('/*') && stop_point>0 && stop_point > 0) {

                                var highlightedCodeNode = highlightRangeNew(start_point, stop_point);

                                const spanSelection = start_point + '-' + stop_point;
                                listSelectedSpanCode.push(spanSelection);
                                var lines = sel.text.split('\n');
                                for (var k = 0; k < lines.length; k++) {
                                    updateTextArea('<span class="selected-code">' + escapeHtml(lines[k]) + '</span>');
                                }

                                selectedCode.push(sel.text);
                                highlightedCodeDuringSelection.push(highlightedCodeNode);
                                unselectAll();

                            }
                        }
                    }

                }
                unselectAll();
                clicked = false;
            });

        });

        function submitClassification(){
            /*if(isLabeled === 0) {
                var associationsSoFar = howManyAssociations()
                if (associationsSoFar < numberOfCommentsPerClass) {
                    alert('Please make sure to tag each comment before submitting!');
                    return false;
                }
            }*/




            if (confirm('Are you sure?')) {

                var data_json = {};
                var newRefinedDict = {};

                if(isLabeled === 0 ){

                    newRefinedDict = getSameKeysDict(cleanDict(dictHighlightedCodeCharacterPosition), cleanDict(dictHighlightedCommentsCharacterPosition));
                    if (Object.keys(newRefinedDict).length === 0 ){
                        newRefinedDict = dictHighlightedCommentsCharacterPosition;
                    }

                     data_json = {
                            artifact_id: {{  artifact_id }},
                            code: JSON.stringify(cleanDict(dictSelectedCode)),
                            comments: JSON.stringify(cleanDict(dictSelectedComment)),
                            categories: JSON.stringify(cleanDict(dictSelectedCategories)),
                            codeSpan: JSON.stringify(cleanDict(dictHighlightedCodeCharacterPosition)),
                            commentSpan: JSON.stringify(newRefinedDict),
                            commentPosition: JSON.stringify(cleanDict(dictHighlightedCommentsPosition)),
                            workingMode: workingMode,
                            moveToSelectedButtons: (isLabeled === 0 ? JSON.stringify(methodSelectionButton.filter(function (e) {
                                return e
                            })) : JSON.stringify(moveSelectionButtonList.filter(function (e) {
                                return e
                            }))),
                            counterAssociations: (isLabeled === 1 ? Number({{ counterAssociations }}) : counterAssociations),
                            userDefinedNewCategoryNames: JSON.stringify(userDefinedNewCategoryNames),
                            userDefinedNewCategoryDescriptions: JSON.stringify(userDefinedNewCategoryDescriptions),
                            categoryShortcuts: JSON.stringify(userDefinedCategoryShortcuts),
                            conflicts:JSON.stringify(cleanDict(conflicts)),
                            duration: get_elapsed_seconds()
                        };
                }else{

                    newRefinedDict = getSameKeysDict(cleanDict(dictHighlightedCodeCharacterPositionRev), cleanDict(dictHighlightedCommentsCharacterPositionRev));
                    if (Object.keys(newRefinedDict).length === 0 ){
                        newRefinedDict = dictHighlightedCommentsCharacterPositionRev;
                    }

                    data_json = {
                            artifact_id: {{  artifact_id }},
                            code: JSON.stringify(cleanDict(dictSelectedCodeRev)),
                            comments: JSON.stringify(cleanDict(dictSelectedCommentRev)),
                            categories: JSON.stringify(cleanDict(dictSelectedCategoriesRev)),
                            codeSpan: JSON.stringify(cleanDict(dictHighlightedCodeCharacterPositionRev)),
                            commentSpan: JSON.stringify(newRefinedDict),
                            commentPosition: JSON.stringify(cleanDict(dictHighlightedCommentsPositionRev)),
                            workingMode: workingMode,
                            moveToSelectedButtons: (isLabeled === 0 ? JSON.stringify(methodSelectionButton.filter(function (e) {
                                return e
                            })) : JSON.stringify(moveSelectionButtonList.filter(function (e) {
                                return e
                            }))),
                            counterAssociations: (isLabeled === 1 ? Number({{ counterAssociations }}) : counterAssociations),
                            userDefinedNewCategoryNames: JSON.stringify(userDefinedNewCategoryNames),
                            userDefinedNewCategoryDescriptions: JSON.stringify(userDefinedNewCategoryDescriptions),
                            categoryShortcuts: JSON.stringify(userDefinedCategoryShortcuts),
                            conflicts:JSON.stringify(cleanDict(conflicts)),
                            duration: get_elapsed_seconds()
                        };
                }
            }


                $.post("/label", data_json, function (response, status) {
                    let response_json = $.parseJSON(response.toString());
                    ShowNotification(response_json['status'], "success", 200);

                });

                //wait one second before moving on
                setTimeout(function(){
                    ChangeSkipToNext();
                },1000); //in millisecond

        }

        function saveFlaggedClass(){
            if (confirm('Are you sure?')) {
                var data_json = {artifact_id: {{  artifact_id }}};
                $.post("/flag", data_json, function (response, status) {
                    let response_json = $.parseJSON(response.toString());
                    ShowNotification(response_json['status'], "success", 200);
                });
            }
        }

        function removeFromLabeling(){
            if (confirm('Are you sure?')) {
                    var data_json = {artifact_id: {{  artifact_id }}};
                    $.post("/markBrokenClass", data_json, function (response, status) {
                        let response_json = $.parseJSON(response.toString());
                        ShowNotification(response_json['status'], "success", 200);
                    });
                    ChangeSkipToNext();
            }
    }

    function shortcutForAddingCategory(element){

        if(selectedCategories.includes(element.id)){
            $("#"+element.id).css('background-color','');
            var index = selectedCategories.indexOf(element.id);
            selectedCategories.splice(index, 1);

            if(element.id === 'code-summary-button'){
                $("#network-code-button").css('background-color','#8267BE');
                var index = selectedCategories.indexOf("network-code-button");
                selectedCategories.splice(index, 1);
            }

            return;
        }

        if(selectedCategories.length >= 2 && !selectedCategories.includes('no-code-button') && !selectedCategories.includes('network-code-button')) {
            alert('No more categories can be linked!');
        }else {
             if (selectedCategories.length === 4){
                alert('No more categories can be linked!');
            }
            if (selectedCategories.length === 3 && (selectedCategories.includes('no-code-button') && !selectedCategories.includes('network-code-button'))) {
                alert('No more categories can be linked!');
            }
            if (selectedCategories.length === 3 && (!selectedCategories.includes('no-code-button') && selectedCategories.includes('network-code-button'))) {
                alert('No more categories can be linked!');
            }
            if (selectedCategories.length === 3 && selectedCategories.includes('no-code-button') && selectedCategories.includes('network-code-button')) {
                addNewCommentToBeLinked(element);
                if(this.id === 'code-summary-button'){
                    selectedCategories.push('network-code-button');
                }
            }
            if (selectedCategories.length <= 2 && element.id !== 'no-code-button' && element.id !== 'network-code-button') {
                addNewCommentToBeLinked(element);
                if(this.id === 'code-summary-button'){
                    selectedCategories.push('network-code-button');
                }
            }
        }
        selectedCategories = [...new Set(selectedCategories)];

    }

    $(document).on('click', '.category-button',function(){

        if(selectedCategories.includes(this.id)){
            $("#"+this.id).css('background-color','');
            var index = selectedCategories.indexOf(this.id);
            selectedCategories.splice(index, 1);

            if(this.id === 'code-summary-button'){
                $("#network-code-button").css('background-color','#8267BE');
                var index = selectedCategories.indexOf("network-code-button");
                selectedCategories.splice(index, 1);
            }

            return;
        }

        if(selectedCategories.length >= 2 && !selectedCategories.includes('no-code-button') && !selectedCategories.includes('network-code-button')) {
            alert('No more categories can be linked!');
        }else {
            if (selectedCategories.length === 4){
                alert('No more categories can be linked!');
            }
            if (selectedCategories.length === 3 && (selectedCategories.includes('no-code-button') && !selectedCategories.includes('network-code-button'))) {
                alert('No more categories can be linked!');
            }
            if (selectedCategories.length === 3 && (!selectedCategories.includes('no-code-button') && selectedCategories.includes('network-code-button'))) {
                alert('No more categories can be linked!');
            }
            if (selectedCategories.length === 3 && selectedCategories.includes('no-code-button') && selectedCategories.includes('network-code-button')) {
                addNewCommentToBeLinked(this);
                if(this.id === 'code-summary-button'){
                    selectedCategories.push('network-code-button');
                }
            }
            if (selectedCategories.length <= 2 && this.id !== 'no-code-button' && this.id !== 'network-code-button') {
                addNewCommentToBeLinked(this);
                if(this.id === 'code-summary-button'){
                    selectedCategories.push('network-code-button');
                }
            }
        }
        selectedCategories = [...new Set(selectedCategories)];
    });

    $(document).on('click', '#no-code-button', function (){
        if(isAlreadySelectedCategory("no-code-button")){
            noCode=false;
            $("#no-code-button").css('background-color','#8267BE');
            var index = selectedCategories.indexOf("no-code-button");
            selectedCategories.splice(index, 1);
        }else{
            noCode=true;
            $(this).css('background-color','green');
            selectedCategories.push('no-code-button');
        }
    });

    $(document).on('click', '#network-code-button', function (){
        if(isAlreadySelectedCategory("network-code-button")){
            isForNN=0;
            $("#network-code-button").css('background-color','#8267BE');
            var index = selectedCategories.indexOf('network-code-button');
            selectedCategories.splice(index, 1);
        }else{
            isForNN=1;
            $(this).css('background-color','green');
            selectedCategories.push('network-code-button');
        }
    });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-confirmation.min.js') }}"></script>

{% endblock %}