{% extends "common_pages/common_layout.html" %}

{% block headerStuff %}
    <link href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/androidstudio.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='css/artifact_common.css') }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/github.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

    <script src="{{ url_for('static', filename='js/jquery.lettering-0.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common-function.js') }}"></script>


    {#    High priority css classes#}
    <style>

        .category-button{}

        .commentHighlighting{
            background-color: yellow;
        }


        .buttonWrapper{
            padding-bottom:7px;
            border-radius: 25px;
            padding-right: 5px;
            padding-left: 3px;
        }

        .animationLabel{
            animation:color-me-in 4s;
        }

       @keyframes color-me-in {
          /* You could think of as "step 1" */
          0% {
            background: red;
          }
          /* You could think of as "step 2" */
          100% {
            background: black;
          }
       }



       .button-corner-down {
            position: fixed;
            bottom: 0.5%;
            left: 78%;
            width: 5%;
            text-align: center;
        }

        .button-corner-up {
            position: fixed;
            bottom: 7%;
            left: 78%;
            width: 5%;
            text-align: center;
        }

        .textarea {
            width:66.7%;
            overflow: hidden;
            overflow-y: scroll;
            bottom:0;
            height:11%;
            position:fixed;
            margin-bottom: -2px;
        }

        #code{
            margin-top:-2.44%;
        }

        @media screen and (max-height: 1250px) {
            #code{
              margin-top:-3.47%;
            }

            .textarea{
                bottom:0;
                height:10%;
            }


            .button-corner-down{
                bottom: 0.5%;
            }

            .button-corner-up{
                bottom: 5.5%;
            }

        }

        hr.solid {
            border-top: 3px solid #bbb;
        }


    </style>

{% endblock %}

<!-- Bootstrap container -->
 <div class="container">

    {% block content %}

        <div class="row no-gutters" style="background-color: black; padding-top: 10px;">

                 <div class=" col-md-4">
                    <div class="text-left">
                        <button class="btn btn-outline-info"
                            type="submit"
                            id="next-skip-btn"
                            onclick="skip_next_artifact()"
                            style="width: 100%;"> Skip
                    </button>
                    </div>

                 </div>

            <div class=" col-md-4">
                <div style="text-align: center; font-size: medium; color: white;">
                    {{ overall_labeling_status['n_artifacts_labeled'] }}
                    out of
                    {{ overall_labeling_status['n_artifacts_to_be_labeled'] }} | <em>{{ overall_labeling_status['source_name'] }}</em>
                </div>
                <div class="justify-content-center" style="display: flex;">
                    <div class="progress" style="width:50%;">
                        <div id="top-progress-bar-status" class="progress-bar" role="progressbar" style="width: 0%; "
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="text-right">
                    <button class="btn btn-outline-success"
                            type="submit"
                            id="next-skip-btn"
                            onclick="submitClassifaction();"
                            style="width: 100%;"> Submit Classification
                    </button>
                </div>

            </div>

        </div>

        <div class="row no-gutters" style="background-color: black; height: 15px;">

            <div class=" col-md-12">
                <div class="" style="position: relative; padding-left: 20px;"></div>
            </div>

        </div>


        <div class="row no-gutters">

              <div class=" col-md-2 vh-100" style="background-color: black;">

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="code-summary-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Code Summary
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="expand-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Expand
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="rationale-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Rationale
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="deprecation-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Deprecation
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="usage-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Usage
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="exception-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Exception
                      </button>
                  </div>

                   <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="todo-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > TO-DO
                      </button>
                  </div>

                   <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="comment-code-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Commented Code
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="incomplete-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Incomplete
                      </button>
                  </div>

                  <div class="buttonWrapper">
                      <button class="btn btn btn-dark category-button"
                        type="submit"
                        id="new-category-button"
                        onclick="addNewCommentToBeLinked(this);"
                        style="width: 100%" > Define new category
                      </button>
                  </div>

              </div>


            <div class=" col-md-8 overflow-auto" id="codeColumn" style="height: 84.5vh;">

                <div class="row-column">

                    <pre id="rows-wrapper" class="rows">
                        <code id="rows" class="lang-java" style="display:inline; float:left; overflow: scroll;"></code>
                        <code id="code" class="lang-java">{{ artifact_class }}</code>
                    </pre>

                </div>

            </div>


            <div class=" col-md-2 no-float" id="methodsLabel" style="background-color: black;">

                <div id="upperSide" style="height: 50%; overflow-y: scroll; position: absolute; width:100%; float:left;">
                    <!-- This Div is dyamically filled -->
                </div>

                 <div id="lowerSide" style="height: 50%; overflow-y: scroll; position:sticky; top:58.5%; width:100%;">

                    <hr class="solid">
                     <div style="text-align: center; color: white;">
                         <h4 style="width:100%; position:relative;">ASSOCIATIONS</h4>
                         <span id="badgeCounter" class="badge badge-secondary" style="font-size:20px;">0</span>
                     </div>
                     <hr class="solid">
                </div>
            </div>

        </div>

        <div class="row no-gutters">
            <div class=" col-md-2"></div>
            <div class=" col-md-8">
                <textarea id="textAreaSelectedText" rows="4" cols="50" class="textarea"></textarea>
                <button id="clearText" type="submit" class='btn btn-dark button-corner-down' onclick="reset()">Clear</button>
                <button id="savingClassification" type="submit" class='btn btn-dark button-corner-up' onclick="saveCategorization()">Save</button>
            </div>
            <div class=" col-md-2"></div>
        </div>

    {% endblock %}



 </div>


{% block scriptsStuff %}

    <script>

        // -------------------------Start-------------------------

        hljs.highlightAll();


        const methodsList = {{ artifact_methodsListLines | tojson }};
        const methodsListNames = {{ artificat_methodsName | safe }};
        const linesList = {{ artifact_linesList }};
        var startTime = new Date().getTime();

        var labelCategories = ["new-category-button",
                                'expand-button',
                                'rationale-button',
                                'deprecation-button',
                                'usage-button',
                                'exception-button',
                                'todo-button',
                                'code-summary-button',
                                'comment-code-button',
                                'incomplete-button',
        ]

        var selectedLines = [];
        var selectedCategory = "";
        var selectedCodeText = "";
        var selectedCommentText = "";
        var elementsToHighlight = [];
        var jsonToSave = {};
        var counterAssociations = 0;
        var dictHighlightedCode = {};
        var dictHighlightedComments = {};
        var selectedComments = [];
        var selectedCode = [];
        var selectedSpanCode = [];
        var selectedCategories = [];
        var commentsToHighlight = [];

        let defaultColorHighlight='red';

        for(var j=0; j<50000; j++){
            dictHighlightedCode[j]=[];
            dictHighlightedComments[j]=[]
        }



        // -------------------------End-------------------------

        $(document).ready(function () {

            $("h1").css('color','white');
            $("h2").css('color','white');
            $('.hljs-comment').css('user-select','none');

            // Filling up lines column
            for (var i=0;i<linesList.length;i++){
                linesList[i] = linesList[i]+1
                var newButton = '<div style="width:100%;" class="row-line">'+linesList[i]+'</div>';
                $( "#rows" ).append( $(newButton) );
            }

            //Highlight target comments

            var comments = document.getElementsByClassName("hljs-comment");
            highlightTargetComments(comments,'commentHighlighting');


            /*      If we find multi line comments written as single line
                    (E.G)
                    // read this item
                    // after send it
                    // to the server
             */


            $(".commentHighlighting").dblclick(function() {

                var prevElement = $(this).prev();
                var nextElement = $(this).next();

                var previousElements = [];
                var nextElements = [];

                var upperPartCommentSelection = '';
                var lowerPartCommentSelection = '';

                //console.log(elementsToHighlight);

                while(prevElement.hasClass('hljs-comment')){
                    if(!elementsToHighlight.includes(prevElement)) {
                        previousElements.push(prevElement);
                    }
                    prevElement = $(prevElement).prev();
                }

                //Adding current element selected by the user if it's not in the list already
                if(!elementsToHighlight.includes($(this))){
                    nextElements.push($(this));
                }

                while(nextElement.hasClass("hljs-comment")){
                    if(!elementsToHighlight.includes(nextElement)) {
                        nextElements.push(nextElement);
                    }
                    nextElement = $(nextElement).next();
                }

                for(var i=previousElements.length-1; i>=0;i--){
                    upperPartCommentSelection = upperPartCommentSelection + previousElements[i][0].innerText + "\n";
                }

                for(var i=0;i<nextElements.length;i++){
                    lowerPartCommentSelection = lowerPartCommentSelection + nextElements[i][0].innerText + "\n";
                }

                //extending elementsToHighlight
                var tmpArray = previousElements.reverse().concat(nextElements);
                for(var i=0;i<tmpArray.length;i++){
                    elementsToHighlight.push(tmpArray[i]);
                }

                for(var i=0;i<elementsToHighlight.length;i++){
                    $(elementsToHighlight[i]).css('color','red');
                }

                selectedCommentText = upperPartCommentSelection  + lowerPartCommentSelection;
                updateTextArea(selectedCommentText);
                unselectAll();

                //console.log(selectedCommentText);
                //console.log(escape(javaClass));

                dictHighlightedComments[counterAssociations]=elementsToHighlight;


            });

            // Bind code are to "text select" events
            $('#code').bind('mouseup', function(event) {

                var code = document.getElementById("code");
                var sel = getSelectionCharOffsetsWithin(code);
                var start_point, stop_point, text_point, targetTag;

                if (sel.start === sel.end){
                    start_point = 0;
                    stop_point = 0;
                    text_point = "";
                    targetTag = null;
                } else{
                    start_point = sel.start;
                    stop_point = sel.end;
                    text_point = sel.text;
                    targetTag = sel.targetTag;
                }

                //console.log(start_point);
                //console.log(stop_point);
                //console.log(text_point);


                try{
                    targetTag = targetTag.previousSibling;
                }catch(e){}

                if(typeof(targetTag) != null && $(targetTag).hasClass('hljs-comment')){

                    if(!elementsToHighlight.includes($(targetTag))) {
                        elementsToHighlight.push($(targetTag));
                    }
                    selectedCommentText = $(targetTag).text();
                    $(targetTag).css('color','red');
                    dictHighlightedComments[counterAssociations]=elementsToHighlight;
                    updateTextArea(selectedCommentText);


                }else{
                    if( selectedCategory === '' && selectedCommentText === '' && text_point!==''){
                        alert("Please select the comment first!");
                    }else {
                        if (selectedCommentText !== '' && selectedCategory === '' && text_point !== '') {
                            alert('Please select the comment category!');
                        } else {
                            //Adding highlighting with span token
                            var newNode = document.createElement("span");

                            //Adding ID for the given selection that is gonna be useful when we want to remove the highlighted text
                            newNode.setAttribute("id", "highlight-" + counterAssociations);
                            newNode.setAttribute("style", "background-color: #FFE5CC");

                            newNode.appendChild(sel.range.extractContents());
                            sel.range.insertNode(newNode);
                            updateTextArea(sel.text);

                            //Adding new element to the list
                            //console.log('Counter Association: ' +counterAssociations)
                            dictHighlightedCode[counterAssociations] = newNode;

                            let spanSelection = '('+start_point+'-'+stop_point+')';
                            selectedSpanCode.push(spanSelection);
                        }
                    }
                    unselectAll();
                }
		    });

            for (let i = 0; i < methodsList.length; i++) {
              var buttonID = methodsListNames[i] + "-button";
              var startingLine = methodsList[i].split("-")[0];
              var endingLine = methodsList[i].split("-")[1];
              var buttonText = methodsListNames[i];// + " " +startingLine + '---' + endingLine;
              var scorllCall = 'moveToSelectedMethod(' + startingLine+')';
              var newButton = '<div class="buttonWrapper style="display: flex; flex-direction:row;"> <button class="btn btn btn-dark" type="submit" id="' + buttonID + '" onclick="' + scorllCall + '" style="width: 100%; display:inline-flex; text-align: left;">'+ buttonText + '</button> </div>';
              //console.log(newButton);
              $( "#upperSide" ).append( $(newButton) );

            }

        });

        function submitClassifaction(){
            if (confirm('Are you sure?')) {
                    for (var i=0;i<counterAssociations;i++){
                        console.log('***********');
                        console.log(selectedComments[i]);
                        console.log(selectedCode[i]);
                        console.log(selectedCategories[i]);
                        console.log(selectedSpanCode[i]);
                        console.log('***********\n');

                    }

                   let data_json = {
                        artifact_id: {{  artifact_id }},
                        code: JSON.stringify(selectedCode),
                        comments: JSON.stringify(selectedComments),
                        categories: JSON.stringify(selectedCategories),
                        span:JSON.stringify(selectedSpanCode),
                        duration: get_elapsed_seconds()
                };
                $.post("/label", data_json, function (response, status) {
                    let response_json = $.parseJSON(response.toString())
                    ShowNotification(response_json['status'], "success");
                    ChangeSkipToNext();
                });
            }
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap-confirmation.min.js') }}"></script>
{% endblock %}
