.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: black;
    padding: 0.3rem;


    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    z-index: 1031;
}

.lower-panel {
    background-color: #5a6268;
    border: 0px solid black;
    border-top-width: 2px;
    padding:5px 10px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.eighty {
  height:80%;
}

.fullHeight {
  height:150%;
}

body {
    height:100%;
    margin:0;
    overflow: hidden;
}

.scrollableColumn {
    position: absolute;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}


